.container {
  border-radius: 5px;
  /* background-color:	black; */
  padding: 20px;
}



.login-box{
	width:700px;
	height: 510px;
	background:#e27d60;
	color:#fff;
	/* top:90%;
	left:50%; */
}




.deletest{
	top:50%;
}

























